/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

body {
    font-family: 'Roboto', sans-serif;
}

/* 
@@@
@@@@@-----header---------
@@@ 
*/

header {
    background: #f8f9fa;
    height: 70px;
}

header > .head_nav {
    background-color: white;
    height: 50%;
    width: 100%;
}

.cornice {
    height: 100%;
}

.fa-bell {
    color: #ff8f00;
}

.nav-function i {
    padding: 0 10px;
}



/* 
@@@
@@@@@------ASIDE---------
@@@ 
*/

aside {
    height: calc(100vh - 70px);
    padding: 20px;
}

aside i {
    padding-bottom: 20px;
}
/* 
.settings {
    margin-top: auto;
}

aside > div {
    padding-bottom: 10px;
} */

.admin {
    margin-top: auto;
}

/* 
@@@
@@@@@------MAIN---------
@@@ 
*/

main {
    width: calc(100% - 98px);
    background-color: #ff8f00;
    height: calc(100vh - 70px);
}

.main-top {
    background-color: #1b72e8;
}

.main-top span {
    padding: 2px 7px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
}

.fa-angles-right {
    padding: 0 5px;
}