* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* 
@@@
@@@@@-----header---------
@@@ 
*/

header {
    background: #f8f9fa;
    height: 66px;
}

header > .head_nav {
    background-color: white;
    width: 100%;
}

.fa-bell {
    color: #ff8f00;
}

.nav-function i {
    padding: 0 10px;
}

.logo-bool img{
    width: 50px;
    height: auto;
}



/* 
@@@
@@@@@------ASIDE---------
@@@ 
*/

aside {
    height: calc(100vh - 66px);
}

aside i {
    padding-bottom: 10px;
}

.admin {
    margin-top: auto;
}

aside {
    background-color: #051e34;
    background-image: url(/img/sidebar-bg.png);
    overflow: hidden;
}

aside .row:hover {
    background-color: lightgray;
    opacity: 0.9;
}

aside .admin:hover {
    background-color: lightgray;
    opacity: 0.9;
}

/* 
@@@
@@@@@------MAIN---------
@@@ 
*/

main {
    /* width: calc(100% - 98px); */
    background-color: #f8f9fa;
    height: calc(100vh - 66px);
    overflow-y: auto;
}



/* 
@@@
@@@@@------MAIN-TOP---------
@@@ 
*/

.main-top {
    background-color: #1b72e8;
}

.main-top span {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
}

.fa-angles-right {
    padding: 0 5px;
}

.main-top .fa-square-plus {
    vertical-align: middle;
}

.main-top .numero-studenti, .fa-square-plus {
    font-size: 30px;
}

.main-top .fa-square-plus:hover {
    background-color: white;
    color: #1b72e8;
}

#offcanvasRight {
    visibility: visible;
}

.offcanvas.offcanvas-end {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .offcanvas.offcanvas-end {
        width: 50%;
    }
}
/* 
@@@
@@@@@------MAIN-CARDS SECTION---------
@@@ 
*/

.main-cards table img {
    width: 30px;
}

table td i {
    padding: 5px;
    border: 1px solid #6c757d;
    color: #6c757d;
    border-radius: 5px;
    
}

table {
    text-align: center;
}

table .name, tr > td:first-child {
    text-align: left;
}

.stats .bordo-card {
    order: 1px solid #6c757d;
}

.accordion-collapse .collapse {
    transform: rotate(-180deg);
}
