* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* 
@@@
@@@@@-----header---------
@@@ 
*/

header {
    background: #f8f9fa;
}

header > .head_nav {
    background-color: white;
    width: 100%;
}

.fa-bell {
    color: #ff8f00;
}

.nav-function i {
    padding: 0 10px;
}





/* 
@@@
@@@@@------ASIDE---------
@@@ 
*/

aside {
    height: calc(100vh - 70px);
}

aside i {
    padding-bottom: 10px;
}
/* 
.settings {
    margin-top: auto;
}

aside > div {
    padding-bottom: 10px;
} */

.admin {
    margin-top: auto;
}

aside {
    background-color: #051e34;
    background-image: url(/img/sidebar-bg.png);
}
/* 
@@@
@@@@@------MAIN---------
@@@ 
*/

main {
    width: calc(100% - 98px);
    background-color: #ff8f00;
    height: calc(100vh - 70px);
}



/* 
@@@
@@@@@------MAIN-TOP---------
@@@ 
*/

.main-top {
    background-color: #1b72e8;
}

.main-top span {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
}

.fa-angles-right {
    padding: 0 5px;
}

.main-top .fa-square-plus {
    vertical-align: middle;
    padding-left: 10px;
}

.main-top .numero-studenti, .fa-square-plus {
    font-size: 30px;
}

